@import url("https://fonts.googleapis.com/css?family=Clicker+Script");

.App {
  display: flex;
  flex-direction: column;
  background: rgb(255, 199, 227);
  font-family: "Georgia", serif;
  height: 150%;
  margin-left: 14%;
}



/* NavBar*/

.NavBar {
  background-color: rgb(255, 199, 227);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "Clicker Script";
  width: 14%;
  height: 100%;
  margin-left: -14%;
  justify-content: center;
  align-content: space-between;
  position: fixed;
}

.navLinks {
  text-decoration: none;
  color: black;
  font-size: 2.5em;
  padding-left: .2em;
}

.MyName {
  display: flex;
  font-size: 750%;
  font-family: "Clicker Script";
  font-style: bold;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  align-content: center;
  /*text-transform: uppercase;*/
}

.MyTitle {
  display: flex;
  font-size: 650%;
  font-family: "Clicker Script";
  justify-content: center;
  margin-bottom: 2em;
  align-content: center;
}
.ContactMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 2%;
}

.DirectLinks {
  padding: 0.5em;
  font-size: 400%;
}

.LinksToStuff {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-size: 5em;
  font-family: "Clicker Script";
  padding-bottom: em;
}

.AddLogo {
  display: flex;
  height: 6em;
  width: auto;
  align-content: space-between;
}

.AverageHomeLink {
  display: flex;
  font-family: "Clicker Script";
  font-size: 3.2em;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.copyright {
  display: flex;
  justify-content: center;
}

/*ContactPage*/

.ContactPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 3em;
}

.contactLinks {
  color: black;
  font-family: "Georgia", serif;
  font-size: .5em;
}

.contactTitles {
  font-family: "Clicker Script";
  font-size: 3em;
}

/*AboutMePage*/

.ImageSection {
  display: flex;
  flex-flow: row wrap;
  margin-top: 3em;
  margin-left: 2.5em;
  width: 100%;
}

.idvPics {
  display: flex;
  width: 40%;
  height: 40%;
  margin: 1em;
  border: .05em solid rgb(184, 183, 183);
}

.codingimage {
  display: flex;
  width: 26.75%;
  height: 26.75%;
  margin: 1em;
  border: .05em solid rgb(184, 183, 183);
}

.kissHappy {
  display: flex;
  height: 10%;
  width: 20%;
  margin: 1em;
  border: .05em solid rgb(184, 183, 183);
}

.Catchphrase {
  display: flex;
  font-size: 500%;
  font-family: "Clicker Script";
  text-align: center;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.AboutParagraph {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-left: 20%;
  font-size: 2em;
  width: 60%;
}

/*CodePage*/

.HomeCodePage {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.indvLi {
  display: flex;
  flex-direction: row;
  margin: 2em;
}

.pageInfo {
  margin: 5em;
}

.CodeList {
  display: flex;
  list-style: none;
  font-size: 1.7em;
  color: black;
  flex-direction: column;
  margin-bottom: 1em;
}

.codeImages {
  display: flex;
  width: 40%;
  height: 40%;
  list-style: none;
  border: .05em solid rgb(184, 183, 183);
}

/*BlogBody*/

.MainBlogPage {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.MainBlogTitle {
  display: flex;
  justify-content: center;
  font-family: "Clicker Script";
  font-size: 4em;
}

.AllBlogHeaders {
  font-size: 2em;
  margin-left: 10%;
  margin-top: 5%;
  font-family: "Georgia", serif;
}
.AllBlogBodies {
  display: flex;
  font-size: 1.2em;
  font-family: "Georgia", serif;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}
.BlogLinks {
  font-size: 2em;
  margin: 1em;
  font-family: "Georgia", serif;
  color: black;
}

.blogImages {
  display: flex;
  width: 60%;
  padding: 0.3em;
  background-color: rgb(197, 196, 196); 
}

.onlyGirl {
  display: flex;
  width: 50%;
  padding: 0.3em;
  background-color: rgb(197, 196, 196); 
}

.codeCamp {
   width: 50%;
   padding: 0.3em;
  background-color: rgb(197, 196, 196); 
}

.cantEven {
  width: 60%;
  margin-top:0.5em;
  padding: 0.3em;
  background-color: rgb(197, 196, 196); 
}

.bloggerHeads {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  width: 50%;
}

/*Resume Page*/

.ResumeGoogle {
  text-decoration: none;
  text-align: center;
}

.ResumeDetails {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.5em;
  margin-left: 5em;
  width: 70%;
}

.ResHeads {
  display: flex;
  align-items: flex-start;
  font-family: "Clicker Script";
  font-size: 2em;
}

.resumeCont {
  display: flex;
  justify-content: space-around;
  size: 3em;
  margin-top: 1em;
}

.Skillset {
  display: flex;
  align-items: flex-start;
  font-family: "Clicker Script";
  margin-top: 2em;
  margin-left: 2.5em;
  font-size: 3em;
}

.Myskills {
  display: flex;
  align-self: flex-start;
  font-size: 1.5em;
  margin: 1em 5em 2em;
  
}

@media (max-width: 600px) {

  .NavBar {
    display: flex;
    flex-direction: row;
    font-size: 0.4em;
    margin-top: .5em;
  }

  .DirectLinks {
    width: 25%;
  }

  .indvLi {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .ContactMe {
    display: flex;
    flex-direction: row;
  }

  .MainBlogPage {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: auto;
  }

  .Myskills {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 1em;
  }

  .resumeCont {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .Catchphrase {
    display: flex;
    font-size: 1em;
  }

  .AboutParagraph {
    font-size: 1.5em;
  }

  .BlogLinks {
    font-size: 0.3em;
  }

  .codeImages {
    height: 8.5em;
    width: 100%;
  }

  .CodeList {
    display: flex;
    font-size: 1em;
    flex-direction: row;
    width: 15em;
  }

  .pageInfo {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .ImageSection {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
  }

  .Skillset {
    display: flex; 
    width: 70%;
    justify-content: center;
    margin: auto;
  }

  .MyName {
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .MyTitle {
    display: flex;
    justify-content:center;
    font-size: 2.5em;
    margin-bottom: 3em;
  }


}
