@import url("https://fonts.googleapis.com/css?family=Clicker+Script");


.App {
  display: flex;
  flex-direction: column;
  background: rgb(250, 245, 248);
  font-family: "Georgia", serif;
  height: 150%;
  padding-top: 5.5em;
}

.spacercauseimdumb {
  height: 13em;
}

.NewBanner {
  background: black;
  color: white;
  font-family: "Clicker Script";
  text-align: center;
  font-size: 5em;
}

.HomeNav {
display: flex;
flex-direction: column;
font-size: 3em;
font-family: "Georgia", serif;
font-style: none;
}


/* NavBar*/

.NavBarSide {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-bottom: -20em;
margin-left: 1em;
position: fixed;
}

.nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2em;

}

.MyName {
  display: flex;
  font-size: 800%;
  font-family: "Clicker Script";
  font-style: bold;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 7%;
  align-content: center;
  /*text-transform: uppercase;*/
}

.MyTitle {
  display: flex;
  font-size: 400%;
  font-family: "Clicker Script";
  justify-content: center;
  margin-bottom: 2em;
  align-content: center;
}

.ContactMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 2%;
}

.DirectLinks {
  padding: 0.5em;
  font-size: 400%;

}

.LinksToStuff {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-size: 5em;
  font-family: "Clicker Script";
  
}

.numberz {
  font-size: 4em;
  background: rgb(68, 68, 68);
  border: none;
  font-family: "Geogia", serif;
  color: rgb(23, 104, 197);
}

.numberz:hover {
  border-bottom: .1em solid rgb(23, 104, 197);
}

.AddLogo {
  display: flex;
  height: 6em;
  width: auto;
  align-content: space-between;
}

.AverageHomeLink {
  display: flex;
  font-family: "Clicker Script";
  font-size: 3.2em;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}


/*ContactPage*/

.ContactPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10em;
}

.contactLinks {
  color: black;
  font-family: "Georgia", serif;
  font-size: .5em;
}

.contactTitles {
  font-family: "Clicker Script";
  font-size: 3em;
}

/*AboutMePage*/

.ImageSection {
  display: flex;
  flex-flow: row wrap;
  margin-top: 3em;
  margin-left: 2.5em;
  width: 95%;
}

.idvPics {
  display: flex;
  width: 40%;
  height: 40%;
  margin: 1em;
  border: .05em solid rgb(184, 183, 183);
}

.codingimage {
  display: flex;
  width: 26.75%;
  height: 26.75%;
  margin: 1em;
  border: .05em solid rgb(184, 183, 183);
}

.kissHappy {
  display: flex;
  height: 10%;
  width: 20%;
  margin: 1em;
  border: .05em solid rgb(184, 183, 183);
}

.Catchphrase {
  display: flex;
  font-size: 400%;
  font-family: "Clicker Script";
  text-align: center;
  margin: 1em;
  margin-left: 4em;
  margin-right: 4em;
  flex-wrap: wrap;
}

.AboutParagraph {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-left: 20%;
  font-size: 2em;
  width: 60%;
}

/*CodePage*/

.HomeCodePage {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.indvLi {
  display: flex;
  flex-direction: row;
  margin-left: 8em;
}

.pageInfo {
  margin: 5em;
}

.CodeList {
  display: flex;
  list-style: none;
  font-size: 1.7em;
  color: black;
  flex-direction: column;
  margin-bottom: 1em;
}

.codeImages {
  display: flex;
  width: 40%;
  height: 40%;
  list-style: none;
  border: .05em solid rgb(184, 183, 183);
}

/*Blog*/

.MainBlogPage {
  display: flex;
  flex-direction: row;
  margin-left: 3em;
}

.MainBlogTitle {
  display: flex;
  justify-content: center;
  font-family: "Clicker Script";
  font-size: 4em;
}

.AllBlogHeaders {
  font-size: 2em;
  margin-left: 10%;
  margin-top: 5%;
  font-family: "Georgia", serif;
}
.AllBlogBodies {
  display: flex;
  font-size: 1.2em;
  font-family: "Georgia", serif;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.BlogLinks {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  margin: 1em;
  padding-top: 1em;
  font-family: "Georgia", serif;
  color: black;
}

.MediumLinks {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 5em;
}

.blogImages {
  display: flex;
  width: 90%;
  padding: 0.1em;
  background-color: rgb(197, 196, 196); 
}

.onlyGirl {
  display: flex;
  width: 60%;
  padding: 0.1em;
  background-color: rgb(197, 196, 196); 
}

.codeCamp {
   width: 38%;
   padding: 0.1em;
   background-color: rgb(197, 196, 196); 
}

.cantEven {
  width: 120%;
  padding: 0.1em;
  background-color: rgb(197, 196, 196); 
}

.getBetterFriends {
  width: 35%;
  margin-top:0.5em;
  padding: 0.1em;
  background-color: rgb(197, 196, 196);
}

.theWeirdBlogPost {
  display: flex;
  flex-direction: column; 
  margin-left: -27em;
  margin-bottom: 2em;
}

.bloggerHeads {
  display: flex;
  flex-direction: column; 
  margin-left: 2em;
  margin-bottom: 2em;
}

.MediumImage {
  width: 350%;
  margin-left:-15em;

  padding: 0.1em;
  background-color: rgb(197, 196, 196);
}

/*Resume*/

.ResumeGoogle {
  text-decoration: none;
  text-align: center;
}

.ResumeDetails {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.5em;
  margin-left: 5em;
  width: 70%;
}

.ResHeads {
  display: flex;
  align-items: flex-start;
  font-family: "Clicker Script";
  font-size: 2em;
}

.resumeCont {
  display: flex;
  justify-content: space-around;
  size: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.Skillset {
  display: flex;
  align-items: flex-start;
  font-family: "Clicker Script";
  margin-top: 2em;
  margin-left: 4em;
  font-size: 3em;
}

.Myskills {
  display: flex;
  align-self: flex-start;
  font-size: 1.5em;
  margin: 1em 5em 2em;
  margin-left: 8em;
  
}

@media (max-width: 414px) {

  .App {
    width: 100%;
    background:rgb(255, 240, 250); 

  }

  .navbar-nav {
    background: rgb(255, 240, 250);
    margin-top: 0.5em;
  }

  .nav-item {
    padding-left: 2em;
    font-size: 0.6em;
  }

  .nav-link {
    padding: 0em;
  }

  .indvLi {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .ContactMe {
    display: flex;
    flex-direction: row;
  }

  .MainBlogPage {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: auto;
  }

  .Myskills {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 1em;
  }

  .resumeCont {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .Catchphrase {
    display: flex;
    font-size: 1em;
  }

  .AboutParagraph {
    font-size: 1.5em;
    width: 90%;
    margin-left: 1em;
  }

  .BlogLinks {
    font-size: 0.3em;
  }

  .codeImages {
    height: 8.5em;
    width: 100%;
  }

  .CodeList {
    display: flex;
    font-size: 1em;
    flex-direction: row;
    width: 15em;
  }

  .pageInfo {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .ImageSection {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
  }

  .Skillset {
    display: flex; 
    width: 70%;
    justify-content: center;
    margin: auto;
  }

  .MyName {
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .MyTitle {
    display: flex;
    justify-content:center;
    font-size: 2.5em;
    margin-bottom: 3em;
  }

  .cantEven {
    width: 25%;
    margin-left: 51em;
  }

  .codeCamp {
    width: 70%;
  }

  .getBetterFriends {
    width: 70%;
  }

  .blogImages {
    width: 70%;
  }
}
