@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

.App {
  display: flex;
  text-align: center;
  width: 150px;
  background-color: rgb(255, 238, 247);
  height: 80em;
  width: 90em;
  font-family:"Georgia", serif;
}

.NavBar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: space-between;
  font-size: 18px;
  font-family: "Georgia", serif;
  height: 10em;
  padding-top: 3em;
}

.AddLogo {
  display: flex;
  height: 2em;
  width: auto;
  align-content: space-between;
}

.TwoAboutMe {
  height: 21em;
  width: 19em;
  border: .05em solid black;
}

.ThreeAboutMe {
  height: 21em;
  width: 32.5em;
  border: .05em solid black;
}

.ContactMe {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: .5em;
}

.FullName {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 120px;
  padding: 5em;
}

.CodeList {
  list-style: none;
}

.AllBlogHeaders {
  font-size: 24px;
  margin-top: 3em;
  font-family: "Georgia", serif;
}

.AllBlogBodies {
  display: flex;
  font-size: 18px;
  font-family: "Georgia", serif;
  justify-content: center;

}

.BlogLinks {
  font-size: 24px;
  margin: 1em;
  font-family: "Georgia", serif;
}

.ImageSection {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.MyName {
  display: flex;
  font-size: 38px;
  font-family: 'Clicker Script';

}